
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="/css/Authcss.css" />
</head>

<body>
    <div class="container">
        <section id="content">
            @RenderBody()
        </section>
        @RenderSection("script",false)
    </div>
</body>

</html>