@page
@model blog.Pages.Auth.LoginModel
@{
    Layout = "Shared/_Auth";
    ViewData["title"] = "ورود";
}
<form method="post">
                <h1>@ViewData["title"]</h1>
                <div>
                    <input type="text" placeholder="نام کاربری" asp-for="username" />
                </div>
                <div>
                    <input type="password" placeholder="کلمه عبور" asp-for="password" />
                </div>
                <div>
                    <input type="submit" value="ورود" />
              
                    <a asp-page="register">ثبت نام</a>
                </div>
</form>